---

---

<footer
  class="flex flex-col w-full items-center py-4 space-y-1 text-neutral-500 text-sm"
>
  <div>&copy; 2025 Jie Weng. All rights reserved.</div>
  <div>
    Build with
    <a href="https://astro.build/" target="_blank">
      <img src="/astro-logo-dark.svg" alt="Astro" class="h-7 inline p-0 m-0" />
    </a>
  </div>
</footer>
