---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="fixed p-2 w-48 h-screen text-gray-100">
  <a href="/" class="block p-2">{SITE_TITLE}</a>
  <nav>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">
      Twitter
    </HeaderLink>
    <HeaderLink href="https://github.com/withastro/astro" target="_blank">
      GitHub
    </HeaderLink>
  </nav>
</header>
<style>
  header {
    /* background: rgba(255, 255, 255, 0.01); */
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
	border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
</style>
