---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: classNameProp, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')

let className = ''
if (classNameProp) {
    className += classNameProp
}
className += ` flex items-center p-2 rounded-lg text-gray-900 dark:text-white border group`
className += ` ${
    isActive
        ? 'bg-white/[.4] dark:bg-black/[.2]'
        : 'hover:bg-white/[.3] dark:hover:bg-black/[.1]'
}`
className += ` border-transparent ${
    isActive ? 'border-white/[.2]' : 'hover:border-white/[.1]'
}`
---

<li>
    <a href={href} class:list={[className, { active: isActive }]} {...props}>
        <span class="flex-1 ml-1 whitespace-nowrap"><slot /></span>
    </a>
</li>
