---
import FormattedDate from './FormattedDate.astro'

const { kind, posts } = Astro.props
---

<section class="container mx-auto max-w-screen-md">
    <ul class="backdrop-blur bg-white/[.8] mx-6 my-4 rounded-lg overflow-clip">
        {
            posts.map((post) => (
                <li class="flex flex-col px-6 py-3 hover:bg-white/[.5] first:pt-3 last:pb-3 border-b border-black/[.2]">
                    <a class="py-1" href={`/${kind}/${post.slug}/`}>
                        {post.data.title}
                    </a>
                    <div class="p-0 m-0 flex">
                        <p class="text-xs text-slate-500">
                            <FormattedDate date={post.data.pubDate} />
                            发布
                        </p>
                    </div>
                </li>
            ))
        }
    </ul>
</section>
